/* NAME */

/* colors:
    Background #efefef;
    Border #cecece;
    Text #202020;
    Text Hover #ababab;
    Focus #808080;
*/

/* fonts available */
/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Railway', sans-serif;
*/

/* global */


@media screen and (max-width: 768px) {
    .mobile {}
}
